@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #be6be4;
}

.app {
  width: 90%;
  max-width: 43rem;
  padding: 2rem;
  border-radius: 12px;
  background-color: rgb(238, 235, 235);
  margin: 3rem auto;
}

 
